.container {
  margin: 0;
  width: 99vw;
}

.container .title {
  width: 100%;
  height: 45vh;
}

.container .title .h1, .container .title .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 50%;
  width: 50%;
  text-align: center;
}

.container .title .h1 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 42pt;
}

.container .title .p {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.5;
}

.container .center_cards {
  margin: 0;
  height: 52vh;
  width: 99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .center_cards .info {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12pt;
}

.container .center_cards .info .contact, .container .center_cards .info .hours, .container .center_cards .info .address {
  width: 31.5%;
  height: 100%;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.container .center_cards .info .contact .h2, .container .center_cards .info .hours .h2, .container .center_cards .info .address .h2 {
  font-size: 14pt;
  font-weight: 500;
}

.container .center_cards .info .hours {
  background-color: #e5dcbc;
  color: black;
}

.container .form_container {
  height: 80vh;
  width: 99vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw 0;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 10pt;
  line-height: 2.5;
}

.container .form_container .form {
  width: 90%;
  height: 100%;
  display: block;
}

.container .form_container .form .label, .container .form_container .form .input, .container .form_container .form .textarea {
  display: block;
}

.container .form_container .form .name, .container .form_container .form .message, .container .form_container .form .contact {
  padding: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .form_container .form .center_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .form_container .form .center_submit .button {
  border-radius: 0;
  border: 2px solid black;
  width: 20vw;
  max-width: 200px;
  height: 5vh;
  max-height: 50px;
  background-color: black;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.5;
}

.container .form_container .form .center_submit .button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.container .form_container .form .label {
  width: 50%;
}

.container .form_container .form .input {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 32pt;
  height: 50pt;
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
}

.container .form_container .form .message .label {
  width: 100%;
}

.container .form_container .form .message .label .textarea {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24pt;
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
}

.container .map {
  margin: 0;
  width: 99vw;
  height: 30vh;
  overflow: hidden;
}

.container .map .iframe {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .container .center_cards .info {
    width: 100%;
  }
}

.container .footer {
  margin: 0;
  background-color: #212121;
  width: 90vw;
  height: 40vh;
  padding: 0 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.5;
  color: white;
}

.container .footer .logo {
  width: 30%;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 18pt;
}

.container .footer .contact {
  width: 30%;
}

.container .footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .footer .navigation .a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 2vh 1vw;
}

.container .footer .navigation .a .img {
  height: 24px;
  width: 24px;
}

.container .footer .navigation .a:hover {
  color: #e5dcbc;
}

.container .footer .navigation #contact {
  color: #e5dcbc;
}
/*# sourceMappingURL=contact_us.module.css.map */